body {
    background-color: #e6e6fa;
    text-align: center;
}

#rumah {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px auto;
}

#tombol-sakelar {
    background-color: #ffb700;
    padding: 10px;
    border: none;
    cursor: pointer;
}